@*<div class="card m-2">
    <div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>

              <!-- Sign In Form -->
              <form method="post">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Employee Code">
                  <label for="floatingInput">Employee Code</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>*@
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Assets/Login_v3/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/animate/animate.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/animsition/css/animsition.min.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/select2/select2.min.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/vendor/daterangepicker/daterangepicker.css">
	<!--=========================================~======================================================-->
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Assets/Login_v3/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/exam-module-vikash.appspot.com/o/1668789647197.jpg?alt=media&token=9648694f-86ba-4562-9314-58cb35406750');">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i>
							<img class="rounded-circle shadow-4-strong" alt="avatar2"
								 src="~/Assets/Login_v3/images/icons/Icon.png" />
						</i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Assets/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/Assets/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/Assets/Login_v3/js/main.js"></script>

</body>

</html>