<div class="col-md-12 table-responsive m-0">
    <table class="table table-bordered">
        <thead>
            <tr class="table-light">

                <th>
                    Student Code
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Class Roll
                </th>
                <th>
                    Present
                </th>
                <th>
                    Abesnt
                </th>
                <th>
                    Late
                </th>
                <th>
                    Total Class
                </th>
                <th>
                    Percentage
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>12007</td>
                <td>Chakit</td>
                <td>BCA07</td>
                <td>10</td>
                <td>2</td>
                <td>3</td>
                <td>15</td>
                <td>90%</td>
            </tr>
            <tr class="table-danger">
                <td>12001</td>
                <td>Aditya</td>
                <td>BCA01</td>
                <td>2</td>
                <td>10</td>
                <td>3</td>
                <td>15</td>
                <td>10%</td>
            </tr>
        </tbody>
    </table>
</div>