@using Attendance_Portal.ViewModels;
@model IEnumerable<AttendanceRecord>
<div class="col-md-12 table-responsive m-0">
    <table class="table table-bordered">
        <thead>
            <tr class="table-light">

                <th>
                    Student Code
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Class Roll
                </th>
                <th>
                    Present
                </th>
                <th>
                    Abesnt
                </th>
                <th>
                    Late
                </th>
                <th>
                    Total Class
                </th>
                <th>
                    Percentage
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.StudentCode</td>
                    <td>@obj.StudentName</td>
                    <td>@obj.ClassRoll</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="text-center text-success" target=”_blank” href="https://web.whatsapp.com/send?phone={@obj.ParentsNumber}&text=Hi"><i class="bi bi-whatsapp"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>