<div class="col-md-12 table-responsive m-0">
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>
                    Student Code
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Class Roll
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12007</td>
                <td>Chakit</td>
                <td>BCA07</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radiocheck" id="inlineRadio1" value="1" checked>
                        <label class="form-check-label" for="inlineRadio1">Present</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radiocheck" id="inlineRadio2" value="2">
                        <label class="form-check-label" for="inlineRadio2">Absent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radiocheck" id="inlineRadio3" value="3">
                        <label class="form-check-label" for="inlineRadio3">Late</label>
                    </div>
                        <label class="m-1">Remark</label>
                        <input type="text" class="m-1"/>
                    <button class="btn btn-success">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>