<div class="card m-2">
    <div class="card-header">
        <div class="card-title">
            <span class="badge bg-warning text-dark">
                Attendance Record
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <span class="badge rounded-pill bg-info">Department</span>
                <select class="form-select m-1" id="CourseCheck">
                    <option value="">Select</option>
                    <option value="1">BCA</option>
                    <option value="2">BBA</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="badge rounded-pill bg-success">Semester</span>
                <select class="form-select m-1" id="SemesterCheck">
                    <option value="">Select</option>
                    <option value="1">1ST</option>
                    <option value="2">2ND</option>
                    <option value="3">3RD</option>
                    <option value="4">4TH</option>
                    <option value="5">5TH</option>
                    <option value="6">6TH</option>
                </select>
            </div>
            <div class="col-md-2">
                <span class="badge rounded-pill bg-primary">From</span>
                <input type="date" id="StartDate" class="form-control m-1" />
            </div>
            <div class="col-md-2">
                <span class="badge rounded-pill bg-primary">To</span>
                <input type="date" id="EndDate" class="form-control m-1" />
            </div>
            <div class="col-md-2">
                <span class="badge rounded-pill bg-primary">Subject</span>
                <select class="form-select m-1" id="SubjectCheck">
                </select>
            </div>
        </div>
        <div class="m-2" id="_AttendanceRecord">
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary m-1" id="ExportAttendance">Export Data</button>
        <a class="btn btn-secondary m-1" asp-controller="StudentAttendance" asp-action="Index">Back</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#SemesterCheck").change(function () {
            BindDdlCheck($("#SubjectCheck"), null, 'GetSubject?SemCode=' + $("#SemesterCheck").val() + "&CourseCode=" + $("#CourseCheck").val());
		})

        $("#SubjectCheck").change(function(){
            $("#_AttendanceRecord").load("/StudentAttendance/_AttendanceRecord?CourseCode=" + $("#CourseCheck").val() + "&SemCode=" + $("#SemesterCheck").val() + "&StartDate=" + $("#StartDate").val() + "&EndDate=" + $("#StartDate").val() + "&SubjectCheck=" + $("#SubjectCheck").val());
        })
        var EpCode = localStorage.getItem("EmployeeCode");
        $("#_SideBar").load("_SideBar?EmployeeCode=" + EpCode);
    })
</script>