
<div class="card m-2">
	<div class="card-header">
		<div class="card-title">
			<span class="badge bg-warning text-dark">Attendance Sheet</span>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3">
				<span class="badge bg-info">Department</span>
				<select class="form-select m-1" id="Course">
					<option value="">Select</option>
					<option value="1">BCA</option>
					<option value="2">BBA</option>
				</select>
			</div>
			<div class="col-md-2">
				<span class="badge bg-success">Semester</span>
				<select class="form-select m-1" id="Semester">
					<option value="">Select</option>
					<option value="1">1ST</option>
					<option value="2">2ND</option>
					<option value="3">3RD</option>
					<option value="4">4TH</option>
					<option value="5">5TH</option>
					<option value="6">6TH</option>
				</select>
			</div>
			<div class="col-md-2">
				<span class="badge bg-secondary">Period</span>
				<select class="form-select m-1" id="TimeSlot">
					<option value="">-Select-</option>
					<option value="1">8.40-9.40</option>
					<option value="2">9.40-10.40</option>
					<option value="3">11.00-12.00</option>
					<option value="4">1.00-2.00</option>
					<option value="5">2.00-2.40</option>
				</select>
			</div>
			<div class="col-md-2">
				<span class="badge bg-primary">Subject</span>
				<select class="form-select m-1" id="Subject">
					<option value="">Select</option>
					<option value="AEC1">Environmental Science</option>
					<option value="CC1">Digital Logic</option>
					<option value="CC2">Programming using C</option>
					<option value="GEIC1">Principles of Management</option>
				</select>
			</div>
			<div class="col-md-3">
				<span class="badge bg-secondary">Attendance Date</span>
				<input type="date" id="datetime" class="form-control m-1" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-primary m-1" id="MarkHoliday">Mark Holiday</button>
			</div>
			<div class="col-md-6 ms-auto">
				<button class="btn btn-success float-end m-1" id="MarkAttendance">Mark Attendance</button>
			</div>
		</div>
		<div class="m-2" id="_studentlist">
		</div>
	</div>

	<div class="card-footer">

	</div>
</div>

			
<script>
	$(document).ready(function () {
		$("#Subject").change(function () {
			var SubjectCode = $("#Subject").val();
			var CurrentDate = $("#datetime").val();
			var TimeSlot = $("#TimeSlot").val();
			$("#_studentlist").load("/StudentAttendance/_studentlist?SubjectCode=" + SubjectCode + "&CurrentDate=" + CurrentDate + "&TimeSlot=" + TimeSlot);
		})

		$("#_SideBar").load("_SideBar?EmployeeCode=" + localStorage.getItem("EmployeeCode"));
		document.getElementById('datetime').value = new Date().toISOString().slice(0, 10);
	})
</script>
