<div class="card m-5">
    <div class="card-header">
        <div class="card-title">           
            <span class="badge bg-warning text-dark">Attendance Sheet</span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <span class="badge rounded-pill bg-info">Department</span>
                <select class="form-select m-1">
                    <option value="">Select</option>
                    <option value="1">BCA</option>
                    <option value="2">BBA</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="badge rounded-pill bg-success">Semester</span>
                <select class="form-select m-1">
                    <option value="">Select</option>
                    <option value="1">1ST</option>
                    <option value="2">2ND</option>
                    <option value="3">3RD</option>
                    <option value="4">4TH</option>
                    <option value="5">5TH</option>
                    <option value="6">6TH</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="badge rounded-pill bg-primary">Subject</span>
                <select class="form-select m-1">
                    <option value="">Select</option>
                    <option value="1">C</option>
                    <option value="2">JAVA</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary m-1" id="loadpartial">Load Students</button>
        <div class="m-2" id="_studentlist">
        </div>
    </div>
    
    <div class="card-footer">
        <form method="post" asp-controller="Home" asp-action="Logout">
            <button class="btn btn-danger float-end btn-block">Logout</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#loadpartial").click(function(){
            $("#_studentlist").load("/StudentAttendance/_studentlist");
        })
    })
</script>

